@import "tailwindcss";

html {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: #1a2d42;
  --color-secondary: #2e4156;
  --color-tertiary: #aab7b7;
  --color-background-light: #c0c6ca;
  --color-background-main: #d4d8dd;
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-form-item {
  margin-bottom: 0 !important;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:active,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:hover,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus-within {
  border-color: var(--color-secondary) !important;
}
