@import "tailwindcss";

html {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: #1e88e5; /* Màu chủ đạo - xanh lam công nghệ, dùng cho header, nút chính, link quan trọng */
  --color-secondary: #26a69a; /* Màu phụ - xanh teal, dùng cho nút phụ, hover, hoặc block thông tin phụ */
  --color-accent: #fbc02d; /* Màu điểm nhấn - vàng tươi, dùng cho nút CTA (mua ngay, khuyến mãi) */
  --color-text-primary: #212121; /* Màu chữ chính - xám đậm, dùng cho tiêu đề, nội dung chính */
  --color-text-secondary: #616161; /* Màu chữ phụ - xám trung tính, dùng cho mô tả, thông tin ít quan trọng */
  --color-background: #f7f7f7; /* Màu nền tổng thể - xám nhạt, dùng cho nền trang chính */
  --color-background-main: #ffffff; /* Màu nền chính - trắng*/
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-form-item {
  margin-bottom: 0 !important;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:active,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:hover,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus-within {
  border-color: var(--color-secondary) !important;
}

.ant-form-item.css-dev-only-do-not-override-7t2xvq {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
